section{
    height: 59%;
    color: green;
    padding-top: 5%;
    padding-left: 9%;
    background-color: white;
/*    background-image: url("../images/back2.png");*/
    background-size: cover;
}

a{
    text-decoration: none;
}

.swe{
    float: left;
    width: 30%;
    height: 120px;
    background-color: #FF5722;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
    border-top-left-radius: 20%;
}

.swe:hover{
    float: left;
    width: 30%;
    height: 120px;
    background-color: transparent;
    color: #FF5722;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #FF5722;
    border-top-left-radius: 20%;
    transition-duration: 1s;
    transition-property: all;
}

.ims{
    float: left;
    width: 30%;
    height: 120px;
    background-color: #E91E63;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
}
.ims:hover{
    float: left;
    width: 30%;
    height: 120px;
    background-color: transparent;
    color: #E91E63;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #E91E63;
    transition-duration: 1s;
    transition-property: all;
}

.vfx{
    float: left;
    width: 30%;
    height: 120px;
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
    border-top-right-radius: 20%;
}
.vfx:hover{
    float: left;
    width: 30%;
    height: 120px;
    background-color: transparent;
    color: #2196F3;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #2196F3;
    border-top-right-radius: 20%;
    transition-duration: 1s;
    transition-property: all;
}

.swec{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #E64A19;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
}
.swec:hover{
    float: left;
    width: 30%;
    height: 80px;
    background-color: transparent;
    color: #E64A19;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #E64A19;
    transition-duration: 1s;
    transition-property: all;
}

.imsc{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #C2185B;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
}
.imsc:hover{
    float: left;
    width: 30%;
    height: 80px;
    background-color: transparent;
    color: #C2185B;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #C2185B;
    transition-duration: 1s;
    transition-property: all;
}

.vfxc{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #1976D2;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
}
.vfxc:hover{
    float: left;
    width: 30%;
    height: 80px;
    background-color: transparent;
    color: #1976D2;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #1976D2;
    transition-duration: 1s;
    transition-property: all;
}

.webc{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #BF360C;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
    border-bottom-left-radius: 20%;
}
.webc:hover{
    float: left;
    width: 30%;
    height: 80px;
    background-color: transparent;
    color: #BF360C;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #BF360C;
    border-bottom-left-radius: 20%;
    transition-duration: 1s;
    transition-property: all;
}

.offc{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #880E4F;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
}
.offc:hover{
    float: left;
    width: 30%;
    height: 80px;
    background-color: transparent;
    color: #880E4F;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #880E4F;
    transition-duration: 1s;
    transition-property: all;
}

.printc{
    float: left;
    width: 30%;
    height: 80px;
    background-color: #0D47A1;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: transparent;
    border-bottom-right-radius: 20%;
}
.printc:hover{
    float: left;
    width: 30%;
    height: 80px;
    background-color: transparent;
    color: #0D47A1;
    font-weight: bold;
    font-size: 13pt;
    border-style: solid;
    border-width: 1pt;
    border-color: #0D47A1;
    border-bottom-right-radius: 20%;
    transition-duration: 1s;
    transition-property: all;
}

